:root {
  --bg-primary: rgb(255, 255, 255);
  --bg-secondary: rgb(243, 242, 241);
  --bg-active: rgba(141,143,217, 0.1);
  --bg-shadow: rgba(0, 0, 0, 0.1);
  --font-color-primary: rgb(141,143,217);
  --font-color-secondary: rgb(50, 49, 48);
  --font-color-tertiary: rgb(121, 119, 117);
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--bg-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

body, button, input {
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .content {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    width: 800px;
  }
}
